@import url('./assets/css/slider_switch.css');

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    font-weight: normal;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: 500px;
    background-color: #f3f5f9;
}
.main-container {
    width: 100%;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header img {
    width: 50px;
    height: 50px;
}
#header .icon {
    font-size: 32px;
    font-weight: bold;
}
#header .icon .second {
    color: #007fe3;
}

#is-blocked-banner {
    margin-top: 10px;
    align-self: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(174, 226, 208);
    color: green;
}
#is-blocked-banner img {
    padding: 5px;
    width: 20px;
}

#add-button {
    margin-top: 10px;
    width: 100%;
    align-self: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    border: 1px solid #2196f3;
    background-color: white;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

#add-button:hover {
    background: #2196f3;
    color: white;
}

#blocked-list-container {
    margin-top: 20px;
    max-height: 35vh;
    overflow-y: scroll;
}
.blocker-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    align-items: center;
    box-shadow: 1px 2px 3px #cacaca;
    margin-bottom: 5px;
}
.blocker-list-item .delete-button :hover {
    cursor: pointer;
}
.blocker-list-item .delete-button img {
    width: 15px;
}

.settings-item input {
    width: 100%;
}
